= render 'choose_administrator', kind: Administrator::KIND_HELPER, f: f

= render 'choose_administrator', kind: Administrator::KIND_TECHNICIAN, f: f

= render 'choose_administrator', kind: Administrator::KIND_SELLER, f: f